<div class="contenedor">
    <div>
        <mat-grid-list cols="2" rowHeight="300px">
            <mat-grid-tile routerLink='/catedra' appHighlight>
                <p>Cátedra</p>
            </mat-grid-tile>
            <mat-grid-tile routerLink='/medioTiempo' appHighlight>
                <p>Medio Tiempo</p>
            </mat-grid-tile>
            <mat-grid-tile routerLink='/tiempoCompleto' appHighlight>
                <p>Tiempo Completo</p>
            </mat-grid-tile>
            <mat-grid-tile routerLink='/planta' appHighlight>
                <p>Planta</p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>