.contenedor {
  padding: 4%;
}

.encabezado {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.contenido {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}

.listado {
  text-align: justify;
  padding-left: 3%;
}

.contenedor2 {
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

.formulario {
  border: 1px solid black;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.datosProf {
  display: flex;
}

.data {
  display: flex;
  width: 50%;

}

.prof {
  padding-right: 2%;
  display: flex;
}

.datosProf2 {
  display: flex;
}

.datosProf2 mat-form-field {
  padding-right: 1%;
}

.tabla {
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
}

.tituloTabla1 {
  border: 1px solid black;
  text-align: center;
  padding: 1%;
}

.select {
  width: 35%;
  padding-left: 30%;
  padding-right: 30%;
}

.input {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.text {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.texto {
  padding: 1%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.fin {
  display: flex;
  padding: 2%;
}

.pregunta {
  padding-top: 2%;
}

@media print {
  .doNotPrint {
    display: none !important;
  }
}
