<div class="contenedor">
  <div class="encabezado">
    <h3><strong> UNIVERSIDAD DISTRITAL FRANCISCO JOSE DE CALDAS </strong></h3> <br>
    INFORME DE GESTIÓN DOCENTES OCASIONALES (HONORARIOS, CATEDRA) <br>
    PROYECTO CURRICULAR DE INGENIERÍA DE SISTEMAS <br>
    PERIODO ACADEMICO {{periodo.periodo}} <br>
  </div>
  <div class="contenido">
    <p>
      Estimados profesores: Con el fin de facilitar el proceso de evaluación docente por parte del consejo de carrera
      del proyecto curricular de ingeniería de sistemas, respetuosamente les solicito diligenciar el siguiente formato,
      firmarlo y enviarlo en formato PDF anexando los soportes correspondiente al correo ingsistemas@udistrital.edu.co
      antes de las {{periodo.fecha}}, tenga en cuenta que:
    </p>
    <div class="listado">
      <li>Escala cuantitativa la mejor evaluación es 5.0 y la menor 1.0.</li>
      <li>Si en el plan de trabajo concertado con el Coordinador, no se contempló alguno de los ítems presentados
        seleccione la opción N.A (No Aplica)</li>
    </div>
  </div>

  <div class="contenedor2">
    <div class="formulario">
      <form novalidate [formGroup]="formularioCatedraForm" #fmediotiempoform="ngForm" (ngSubmit)="imprimir()">
        <div class="primera">
          <div class="datosProf row">
            <div class="data col-6">
              <div class="prof mb-1">
                <strong>
                  <p>Profesor evaluado:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput formControlName="nombreProfesor" placeholder="Nombre del profesor" type="text" required
                  [(ngModel)]="nomProfesor">
                <mat-error *ngIf="formErrors.nombreProfesor">
                  {{ formErrors.nombreProfesor }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="data col-6">
              <div class="prof">
                <strong>
                  <p>C.C:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput formControlName="cedulaProfesor" placeholder="Número de cédula" type="text"
                  pattern="[0-9]*" required [(ngModel)]="cedProfesor">
                <mat-error *ngIf="formErrors.cedulaProfesor">
                  {{ formErrors.cedulaProfesor }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field >
                <input matInput formControlName="asignaturaProfesor" placeholder="Asignatura" type="text" required
                  [(ngModel)]="asigProfesor">
                <mat-error *ngIf="formErrors.asignaturaProfesor">
                  {{ formErrors.asignaturaProfesor }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput formControlName="codigoAsignatura" placeholder="Código de asignatura" type="text"
                  pattern="[0-9]*" required [(ngModel)]="codAsignatura">
                <mat-error *ngIf="formErrors.codigoAsignatura">
                  {{ formErrors.codigoAsignatura }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput formControlName="grupoAsignatura" placeholder="Número de grupo" type="text"
                  pattern="[0-9]*" required [(ngModel)]="gruAsignatura">
                <mat-error *ngIf="formErrors.grupoAsignatura">
                  {{ formErrors.grupoAsignatura }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>
          <div class="datosProf2 row">
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Asignaturas que desarrolla:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Código:</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Código de asignatura" type="text">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="prof">
                <strong>
                  <p>Grupo</p>
                </strong>
              </div>
              <mat-form-field>
                <input matInput placeholder="Número de grupo" type="text">
              </mat-form-field>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="tabla">
    <div class="tituloTabla1">
      <strong>
        ACTIVIDAD DOCENTE SEGÚN PLAN DE TRABAJO
      </strong>
    </div>

    <div class="table-responsive">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Docencia</th>
          <th scope="col">Evaluación sugerida</th>
          <th scope="col">Número y descripción del soporte que anexa</th>
          <th scope="col">Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrayPrueba; index as i">
          <td style="max-width:300px;"><strong>{{i + 1}}</strong>. {{item}}</td>
          <td>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a *ngFor="let nota of [1,2,3,4,5]" class="dropdown-item" (click)="changeNota(nota,i)" [value]= "nota">{{nota}}</a>
                    <a class="dropdown-item" (click)="changeNota('N/A',i)">N/A</a>
                  </div>
                </div>
                <input type="text"class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                style="max-width : 50px;"
                value="{{selectedNota[i]}}">
              </div>
          </td>
          <td>
            <textarea class="form-control textoPequeño" id="floatingTextarea2" style="height: 100px"></textarea>
          </td>
          <td>
            <textarea class="form-control textoPequeño" id="floatingTextarea2" style="height: 100px"></textarea>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="fin">
      <div class="pregunta">
        Confirma intención de continuar el próximo semestre
      </div>
      <div class="decision">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Si
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> No
          </label>
        </div>
      </div>
    </div>
    <div>
        <p align="right">Firma: __________________</p>
    </div>
    <form novalidate [formGroup]="formularioCatedraForm" #fmediotiempoform="ngForm" (ngSubmit)="imprimir()">
      <div class="doNotPrint">
        <p align="right">
          <button mat-raised-button color="primary" type="submit"
            [disabled]="formularioCatedraForm.invalid">Imprimir</button>
        </p>
      </div>
    </form>
    </div>
</div>
