<mat-toolbar>
  <span><img src="/assets/imagenes/logo.png" alt="logo" height=60></span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink='/inicio' routerLinkActive='active'>Inicio</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink='/catedra' routerLinkActive='active'>Catedra</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink='/medioTiempo' routerLinkActive='active'>Medio Tiempo</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink='/tiempoCompleto' routerLinkActive='active'>Tiempo Completo</a>
  <span class="flex-spacer"></span>
  <a mat-button routerLink='/planta' routerLinkActive='active'>Planta</a>
  <span class="flex-spacer"></span>
</mat-toolbar>
